<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Steckbrief </ion-title>
    <ion-icon
      name="close"
      slot="end"
      size="larger"
      class="ion-padding"
      (click)="dismis()"
    ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Steckbrief</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid class="condition">
    <ion-row class="plant-row">
      <ion-col class="col_1">
        <ion-row  class="water_condition">
          <ion-col
            ><button
              id="wasserbedarf"
              class="water water-abit"
              (click)="changeClassWater()"
            ></button
          ></ion-col>
        </ion-row>
        <ion-row >
          <ion-col
            ><button
              id="temperatur"
              class="temperatur temperatur-abit"
              (click)="changeClassTemp()"
            ></button
          ></ion-col>
        </ion-row>
      </ion-col>
      <ion-col class="col_2">
       
          <img [src]="photo.webviewPath" alt="Pflanze 2" />
          <ion-input
            type="text"
            maxlength="15"
            minlength="3"
            placeholder="Name der Pflanze"
            name="plantname"
            required="true"
            [(ngModel)]="photoName"
            class="photo_name"
          ></ion-input>
        
      </ion-col>
      <ion-col class="col_3">
        <ion-row  class="light_condition">
          <ion-col
            ><button
              id="licht"
              class="licht licht-abit"
              (click)="changeClassLicht()"
            ></button
          ></ion-col>
        </ion-row>
        <ion-row >
          <ion-col
            ><button
              id="feuchtigkeit"
              class="feuchtigkeit feuchtigkeit-abit"
              (click)="changeClassFeuchtigkeit()"
            ></button
          ></ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="alarm-section">
    <ion-row class="alarm-row">
      <ion-col  class="flex-item">
        <!-- <div class="center-wrapper">
          <div class="centered-content">-->
            <ion-select
              placeholder="Wochentag"
              okText="Ok"
              cancelText="Abbrechen"
              multiple="true"
            >
              <ion-select-option value="1">Montag</ion-select-option>
              <ion-select-option value="2">Dienstag</ion-select-option>
              <ion-select-option value="3">Mittwoch</ion-select-option>
              <ion-select-option value="4">Donnerstag</ion-select-option>
              <ion-select-option value="5">Freitag</ion-select-option>
              <ion-select-option value="6">Samtag</ion-select-option>
              <ion-select-option value="7">Sonntag</ion-select-option>
            </ion-select>
         <!--  </div>
        </div>-->
      </ion-col>

      <ion-col  class="alarm-left flex-item">
            <ion-row class="alarm-time">
              <ion-datetime
                display-timezone="cet"
                pickerFormat="H mm"
                displayFormat="H:mm"
                minuteValues="0,15,30,45"
                placeholder="12:00"
                (ionChange)="getValue($event)"
              ></ion-datetime>
                 <ion-toggle name="alarm" color="secondary"></ion-toggle>
            </ion-row>
      </ion-col>
     <!-- <ion-col  class="alarm_toggle flex-item">
        <div class="center-wrapper">
          <div class="centered-content">
            <ion-toggle name="alarm" color="secondary"></ion-toggle>
          </div>
        </div>
      </ion-col>-->
    </ion-row>
  </ion-grid>

  <h4 class="notizen">Notizen</h4>
  <ion-textarea
    placeholder="Fügen Sie hier weitere Infos zu Ihrer Pflanze hinzu..."
    autoGrow="true"
    maxlength="500"
    name="description"
    class="description"
    [(ngModel)]="photoDiscription"
  ></ion-textarea>

  <ion-button class="speichern" color="secondary" (click)="update()">Speichern</ion-button>
</ion-content>
